<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Minha Planta </span>
    <mat-icon>yard</mat-icon>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="body">
  <div class="soil-moisture">
    <div echarts
         [options]="soilMoistureChartOption"
         class="demo-chart"></div>
    <span>Soil Moisture Level (%)</span>
  </div>

  <div class="water-level">
    <div echarts
         [options]="waterLevelChartOption"
         class="demo-chart"></div>
    <span>Water Level (ml)</span>
  </div>

  <div class="distance-chart">
    <div echarts
         [options]="distanceChartOption"
         class="demo-chart"></div>
    Water Level Over Time (cm)
  </div>

  <div class="last-activations">
    <table mat-table
           [dataSource]="activationsData">
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell
            *matHeaderCellDef>Date</th>
        <td mat-cell
            *matCellDef="let activation">{{ formatDateTime(activation.date) }}</td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="['date']"></tr>
      <tr mat-row
          *matRowDef="let row; columns: ['date'];"></tr>
    </table>
    <span >Water Pump Activations</span>
  </div>
</div>